* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  display: flex;
  background-color: #FFFFFF;
  position: relative;
}

.left {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
}
.left > div {
  color: white;
  opacity: 0.5;
  padding: 15px;
  border-bottom: solid 1px;
}

.home.special {
  opacity: 1;
}

.left > div:hover {
  background-color: #5C5C5C;
  opacity: 1;
} 

.right {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.logoNCC {
  text-align: center;
}
.intro {
  text-align: center;
  margin-top: 10px;
  background-color: #efefef;
  padding: 30px;
  margin-right: 10%;
  margin-left: 10%;
}
.intro-title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.intro-content {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  padding-left: 13%;
  padding-right: 13%;
  
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
}
.item {
  width: 31%;
}
.item-title {
  font-weight: 700;
  font-size: 24px;
}
.item-img {
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  border-top: solid 1px hsl(0, 0%, 68%);
  padding: 20px;
  padding-left: 50px;
}

@media only screen and (min-width: 768px)  {
  .wrapper{
    flex-direction: column;
  }
  .left {
    flex-direction: row;
    height: 100%;
  }
  .right, .left {
    width: 100%;
  }
  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
  }
  .item {
    width: 100%;
  }
  .footer {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
}

@media only screen and (min-width: 414px) {
  .wrapper{
    flex-direction: column;
  }
  .left {
    flex-direction: row;
    height: 100%;
  }
  .right, .left {
    width: 100%;
  }
  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
  }
  .item {
    width: 100%;
  }
  .footer {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
}